[submodule "ref/PDFMathTranslate"]
	path = ref/PDFMathTranslate
	url = https://github.com/PDFMathTranslate/PDFMathTranslate
[submodule "lib/PdfPig"]
	path = lib/PdfPig
	url = https://github.com/xiaocang/PdfPig.git
	branch = master
[submodule "dotnet/lib/MDict.CSharp"]
	path = dotnet/lib/MDict.CSharp
	url = https://github.com/xiaocang/MDict.Csharp.git
	branch = plus
